<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="/www/css/main.css">
    <title>{{.title}</title>
</head>
<body>
 <h1>Dynamo Tables: {{.title}</h1>
 {{template "content" .Content}}
</body>
</html>