{{define "content"}}
<table id="customers">
<tr>
        <th>Shard</th>
        <th>Id</th>
        <th>Job</th>
        <th>Tag</th>
        <th>Time</th>
</tr>
{{range $index, $element := .}}
     <tr id="{{if even $index}}tr.alt{{end}}">
         <td>{{$element.Shard}}</td>
         <td>{{$element.Id}}</td>
         <td>{{$element.Job}}</td>
         <td>{{$element.Tag}}</td>
         <td>{{$element.Time}}</td>
   </tr>
</table>
{{end}}
{{end}}