<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="/www/css/main.css">
    <title>{{.Title}}</title>
</head>
<body>
<div>
 {{template "content" .}}
 </div>
</body>
<footer>
{{template "footer"}}
</footer>
</html>