<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
<h1>{{.Title}}</h1>
 <p>play with data, The title of this page is:{{.Title}} {{printf "%s" .Title | len}} letters long.</p>
 {{$list :=.Content}}
 {{range $element := $list}}
     <div><a href="/dynamo/tables/{{$element}}" title="{{$element}}">{{ $element }}</a></div>
 {{ end }}
</body>
</html>